body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, orange , blue);
}

.heading_font {
  position: relative;
  background-size: 500% 500%;
  color: white;
  text-align: center;
  font-family:  cursive;
}


.w3-container {
  background-image: linear-gradient(to right, orange , blue);
  color: white;
  font-style: oblique;
  text-align: center;
  font-family:  inherit;
}

.ml-container{
  margin: 30px 0;
  flex: 1 0 auto;
  border-radius: 5px;
  background-image: linear-gradient(to right, orange , blue);
  padding: 20px;
  text-align: center;
}

.label{
  text-align: center;
  float: left;
  margin-left: 590px;
  font-family:  serif;
  font-size: 18px;

}

.form-input {
		text-align: center;
		float: right;
	width: 450px;
	height: 25px;
	margin-bottom: 5px;
  margin-right: 600px;
  border-color: black;
}

.my-cta-button{
   	border: 2px solid #000000;
	margin-top: 2px;
	background: #f9f9f9;
	   margin-top: 20px;
    padding: 10px 36px;
    text-align: center;
}

.contact-icon{
	color: #ffffff;
	padding: 7px;
}

.footer {
	flex-shrink: 0;
	position: relative;
	padding: 20px;
	background-image: linear-gradient(to right, orange , blue);
}

.results{
    padding: 30px 0 0;
	  flex: 1 0 auto;
}

.true{
    color: #ff0000;
}

.false{
    color: green;
}
